/* Main styles */

@import url('https://fonts.googleapis.com/css?family=Old+Standard+TT');
@import url('https://fonts.googleapis.com/css?family=Dosis');

*:focus {
    outline: none;
}

html {
    height: 100%;
    overflow: hidden;
}

body {
    padding: 0;
    margin: 0;
    min-height: 100vh;
    font-family: 'Old Standard TT', serif;
    font-size: 60px;
}

a, a:link, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.practiceArea {
    text-align: center;
    min-width: 200px;
    max-width: 100%;
    margin: 60px auto 0 auto;
    vertical-align: middle;
}

input {
    font-family: 'Old Standard TT', serif;
    font-weight: bold;
    font-size: 6rem;
    width: 200px;
    border: none;
    text-align: center;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
}

#hiraganaList {
    font-size: 30px;
    text-align: center;
    margin: 150px auto 0 auto;
}

#currentHiragana {
    font-size: 16rem;
}

#currentHiraganaWord {
    font-size: 3rem;
    margin-top: 2rem;
}

.wrongIndicator {
    background-color: transparent;
    box-shadow: #b60006 0px 0px 40px -15px inset, #b60006 0px 0px 40px -15px inset, #b60006 0px 0px 15px;
}

#correctAnswers, #wrongAnswers, #correctRatio {
    font-family: 'Dosis', sans-serif;
    text-align: left;
    font-size: 2rem;
}

.description {
    font-family: 'Dosis', sans-serif;
    font-size: 1rem;
    display: inline-block;
    margin-top: 1rem;
}

.leftSide {
    position: fixed;
    bottom: 30px;
    left: 30px;
    width: 10rem;
}

footer {
    font-family: 'Dosis', sans-serif;
    font-size: 1rem;
    text-align: left;
    vertical-align: bottom;
    margin-top: 1rem;
}

@media only screen and (max-width: 600px) {
    #correctAnswers, #wrongAnswers, #correctRatio {
        font-size: 1rem;
    }
}